*.rar
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.uvguix
*.dbg*
*.uvguix.*
.mxproject
 
RTE/
Templates/
Examples/
 
!*.uvprojx
!*.h
!*.c
!*.ioc
!*.axf
!*.bin
!*.hex
*.o

./Hero_Gimbal/MDK-ARM/gimbal/*.o
./Hero_Gimbal/MDK-ARM/gimbal/*.d
./Hero_Gimbal/MDK-ARM/gimbal/*.crf
./Hero_Gimbal/MDK-ARM/gimbal/*.htm

./Hero_Gimbal/MDK-ARM/Hero-chassis_Alpha/*.o
./Hero_Gimbal/MDK-ARM/Hero-chassis_Alpha/*.d
./Hero_Gimbal/MDK-ARM/Hero-chassis_Alpha/*.crf
./Hero_Gimbal/MDK-ARM/Hero-chassis_Alpha/*.htm

./Hero_Gimbal/MDK-ARM/Hero-chassis_Beta_[Yaw_CAN2]/*.o
./Hero_Gimbal/MDK-ARM/Hero-chassis_Beta_[Yaw_CAN2]/*.d
./Hero_Gimbal/MDK-ARM/Hero-chassis_Beta_[Yaw_CAN2]/*.crf
./Hero_Gimbal/MDK-ARM/Hero-chassis_Beta_[Yaw_CAN2]/*.htm

